
// colours
$background-color: #f4f4f9;
$font-color: #000807;
$primary-accent: #2f4550;
$seconday-accent: #586f7c;
$tertiary-accent: #b8dbd9;

// fonts
$heading-font: 'Fira Sans', sans-serif;
$body-font: 'Merriweather', serif;

